<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Account)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <div class="sidenav-menu-heading d-sm-none">Account</div>
                <!-- Sidenav Link (Alerts)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon"><i data-feather="bell"></i></div>
                    Alerts
                    <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                </a>
                <!-- Sidenav Link (Messages)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon"><i data-feather="mail"></i></div>
                    Messages
                    <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                </a>
                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">Core</div>
                <!-- Sidenav Accordion (Dashboard)-->
                <a class="nav-link collapsed" href="/OwnerSide/DashBoard">
                    <div class="nav-link-icon"><i data-feather="activity"></i></div>
                    Dashboards
                </a>

                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapseManageEmployees" role="button" aria-expanded="false" aria-controls="collapseManageEmployees">
                    <div class="nav-link-icon"><i data-feather="user"></i></i></div>
                    Manage Employees
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="collapseManageEmployees">
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="/OwnerSide/ManageEmployees/Manager">Manager</a>
                        <a class="nav-link" href="/OwnerSide/ManageEmployees/Staff">Staff</a>
                    </nav>
                </div>

                    
                <a class="nav-link collapsed" href="/OwnerSide/ManageShop">
                    <div class="nav-link-icon"><i data-feather="home"></i></div>
                    Shop Manager
                 </a>
                <a class="nav-link collapsed" href="/OwnerSide/AI">
                    <div class="nav-link-icon"><i data-feather="cpu"></i></div>
                    AI
                </a>
            </div>
                
        </div>

        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                @if (User.IsInRole("Owner"))
                {
                    <div class="sidenav-footer-title">Owner</div>

                }
                else if (User.IsInRole("Manager"))
                {
                    <div class="sidenav-footer-title">Manager</div>

                }
            </div>
        </div>
    </nav>
</div>
