<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Owner - Dashboard</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="~/image/x-icon" href="~/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">

    <partial name="/Pages/Shared/LayoutOwnerComponent/_Layout_sidenavAccordion_Owner.cshtml" />

    <div id="layoutSidenav">
        <partial name="/Pages/Shared/LayoutOwnerComponent/_LayoutMenuOwner.cshtml" />

        <div id="layoutSidenav_content">
            <main>
                <header class="py-3 mb-4 bg-gradient-primary-to-secondary">
                    <div class="container-xl px-4">
                        <div class="text-center">
                            <h1 class="text-white">Owner Side</h1>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-xl px-4">

                    @RenderBody()


                </div>
            </main>
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Privacy Policy</a>
                            &middot;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>


